.historySectionArea {
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.historySectionArea .boredr::after {
    position: absolute;
    content: "";
    height: 2px;
    left: 0;
    width: 100%;
    top: 60%;
    background: var(--ztc-bg-bg-3);
    transition: all 0.4s;
}

@media (max-width: 767px) {
    .historySectionArea .boredr::after {
        top: 53.5%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .historySectionArea .boredr::after {
        top: 50.5%;
    }
}

.historySectionArea .historySingleSlider {
    position: relative;
    z-index: 1;
}

.historySectionArea .historySingleSlider .owlNav {
    position: absolute;
    right: 0;
    top: -120px;
}

@media (max-width: 767px) {
    .historySectionArea .historySingleSlider .owlNav {
        position: relative;
        z-index: 1;
        text-align: center;
        margin-top: 30px;
        top: 0;
        left: 0;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .historySectionArea .historySingleSlider .owlNav {
        position: relative;
        z-index: 1;
        text-align: center;
        margin-top: 30px;
        top: 0;
        left: 0;
    }
}

.historySectionArea .historySingleSlider .owlNav button {
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    display: inline-block;
    transition: all 0.4s;
    border-radius: 8px;
    background: rgba(110, 148, 25, 0.3);
    color: var(--ztc-text-text-4);
    font-size: var(--ztc-font-size-font-s20);
}

.historySectionArea .historySingleSlider .owlNav button:hover {
    background: var(--ztc-bg-bg-3);
    color: var(--ztc-text-text-1);
    transition: all 0.4s;
}

.historySectionArea .historySingleSlider .owlNav button.owlPrev {
    margin: 0 16px 0 0;
}

.historySectionArea .historySingleSlider .historyBoxarea {
    position: relative;
    z-index: 1;
}

.historySectionArea .historySingleSlider .historyBoxarea h2 {
    color: var(--ztc-text-text-2);
    font-family: var(--ztc-family-font1);
    font-size: var(--ztc-font-size-font-s44);
    font-style: normal;
    font-weight: var(--ztc-weight-semibold);
    line-height: 44px;
}

.historySectionArea .historySingleSlider .historyBoxarea span {
    height: 30px;
    width: 30px;
    display: inline-block;
    border-radius: 50%;
    background: var(--ztc-bg-bg-3);
}

.historySectionArea .historySingleSlider .historyBoxarea a {
    color: var(--ztc-text-text-2);
    font-family: var(--ztc-family-font1);
    font-size: var(--ztc-font-size-font-s22);
    font-style: normal;
    font-weight: var(--ztc-weight-semibold);
    line-height: 22px;
    display: inline-block;
    transition: all 0.4s;
}

.historySectionArea .historySingleSlider .historyBoxarea a:hover {
    color: var(--ztc-text-text-4);
    transition: all 0.4s;
}

.historySectionArea .historySingleSlider .historyBoxarea p {
    color: var(--ztc-text-text-3);
    font-family: var(--ztc-family-font1);
    font-size: var(--ztc-font-size-font-s16);
    font-style: normal;
    font-weight: var(--ztc-weight-regular);
    line-height: 24px;
    display: inline-block;
}