.serviceSectionArea {
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.serviceSectionArea .serviceSingleSlider {
    position: relative;
    z-index: 1;
}

.serviceSectionArea .serviceSingleSlider .owlNav {
    position: absolute;
    right: 0;
    top: -120px;
}

@media (max-width: 767px) {
    .serviceSectionArea .serviceSingleSlider .owlNav {
        position: relative;
        z-index: 1;
        text-align: center;
        margin-top: 30px;
        top: 0;
        left: 0;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .serviceSectionArea .serviceSingleSlider .owlNav {
        position: relative;
        z-index: 1;
        text-align: center;
        margin-top: 30px;
        top: 0;
        left: 0;
    }
}

.serviceSectionArea .serviceSingleSlider .owlNavbutton {
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    display: inline-block;
    transition: all 0.4s;
    border-radius: 8px;
    background: rgba(110, 148, 25, 0.3);
    color: var(--ztc-text-text-4);
    font-size: var(--ztc-font-size-font-s20);
}

.serviceSectionArea .serviceSingleSlider .owlNavbutton:hover {
    background: var(--ztc-bg-bg-3);
    color: var(--ztc-text-text-1);
    transition: all 0.4s;
}

.serviceSectionArea .serviceSingleSlider .owlNavbutton.owl-prev {
    margin: 0 16px 0 0;
}

.serviceSectionArea .serviceSingleSlider .serviceBoxarea {
    position: relative;
    z-index: 1;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    background: var(--ztc-bg-bg-1);
    padding: 20px 20px 32px 20px;
}

.serviceSectionArea .serviceSingleSlider .serviceBoxarea:hover .img1 img {
    transform: scale(1.1) rotate(-4deg);
    transition: all 0.4s;
}

.serviceSectionArea .serviceSingleSlider .serviceBoxarea:hover .img1::after {
    transform: scale(1);
    transition: all 0.4s;
    visibility: visible;
    opacity: 70%;
    transition: all 0.4s;
}

.serviceSectionArea .serviceSingleSlider .serviceBoxarea:hover .img1 .arrow a {
    visibility: visible;
    opacity: 1;
    transition: all 0.6s;
    transform: scale(1);
    rotate: -45deg;
}

.serviceSectionArea .serviceSingleSlider .serviceBoxarea:hover .contentArea .icons {
    background: var(--ztc-bg-bg-3);
    transition: all 0.4s;
}

.serviceSectionArea .serviceSingleSlider .serviceBoxarea:hover .contentArea .icons img {
    filter: brightness(0) invert(1);
    transition: all 0.4s;
}

.serviceSectionArea .serviceSingleSlider .serviceBoxarea .img1 {
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: all 0.4s;
    border-radius: 8px;
}

.serviceSectionArea .serviceSingleSlider .serviceBoxarea .img1::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: var(--ztc-bg-bg-2);
    transition: all 0.4s;
    border-radius: 8px;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.7);
}

.serviceSectionArea .serviceSingleSlider .serviceBoxarea .img1 img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 8px;
    transition: all 0.4s;
}

.serviceSectionArea .serviceSingleSlider .serviceBoxarea .img1 .arrow a {
    height: 48px;
    width: 48px;
    text-align: center;
    line-height: 48px;
    border-radius: 50%;
    background: var(--ztc-bg-bg-3);
    color: var(--ztc-text-text-1);
    display: inline-block;
    transition: all 0.4s;
    transform: rotate(-45deg);
    font-size: var(--ztc-font-size-font-s20);
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -24px;
    margin-top: -24px;
    transform: scale(0.7);
    visibility: hidden;
    opacity: 0;
    transition: all 0.6s;
    z-index: 2;
    align-items: center;
    display: flex;
    justify-content: center;
}

.serviceSectionArea .serviceSingleSlider .serviceBoxarea .contentArea .icons {
    height: 90px;
    width: 90px;
    text-align: center;
    line-height: 90px;
    display: inline-block;
    transition: all 0.4s;
    border-radius: 50%;
    background: #EDF2F7;
    position: relative;
    z-index: 2;
    margin-top: -90px;
}

.serviceSectionArea .serviceSingleSlider .serviceBoxarea .contentArea .icons img {
    transition: all 0.4s;
    height: 40px;
    width: 40px;
    display: inline-block;
}

.serviceSectionArea .serviceSingleSlider .serviceBoxarea .contentArea a {
    color: var(--ztc-text-text-2);
    text-align: center;
    font-family: var(--ztc-family-font1);
    font-size: var(--ztc-font-size-font-s22);
    font-style: normal;
    font-weight: var(--ztc-weight-semibold);
    line-height: 22px;
    display: block;
    transition: all 0.4s;
}

.serviceSectionArea .serviceSingleSlider .serviceBoxarea .contentArea a:hover {
    color: var(--rv-primary);
    transition: all 0.4s;
}